<ion-header>
  <ion-toolbar>
    <ion-title> {{(ActiveMainStore$ | async).mainStoreName}} Stores </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </ion-menu-button>
      <ion-back-button>
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let store of StoreArray$ | async">
      <ion-item (click)="OpenStore( store.storeId )" style="width: 100%;">
        <ion-label> {{store.storeName}} </ion-label>
      </ion-item>

      <div>
        <ion-fab vertical="center" horizontal="end">
          <ion-fab-button mini size="small" translucent="true">
            <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
          </ion-fab-button>

          <ion-fab-list side="start">
            <ion-fab-button (click)="ViewStoreDetails(store.storeId)">
              <ion-icon name="eye-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="EditStore(store.storeId)">
              <ion-icon name="pencil-outline"></ion-icon>
            </ion-fab-button>
            <ion-fab-button (click)="DeleteStore(store.storeId)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-fab-button>
          </ion-fab-list>
        </ion-fab>
      </div>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="CreateStore()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

<!-- <ion-list>

  <ion-item
     *ngFor="let store of StoreArray$ | async"
     (click)="OpenStore( store.storeId )"
   >
     <ion-label> {{store.storeName}} </ion-label>
     <span>
       <div>
         <ion-fab vertical="center" horizontal="end">
           <ion-fab-button mini size="small" translucent="true">
             <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
           </ion-fab-button>

           <ion-fab-list side="start">
             <ion-fab-button (click)="ViewStoreDetails(store.storeId)">
               <ion-icon name="eye-outline"></ion-icon>
             </ion-fab-button>
             <ion-fab-button (click)="EditStore(store.storeId)">
               <ion-icon name="pencil-outline"></ion-icon>
             </ion-fab-button>
             <ion-fab-button (click)="DeleteStore(store.storeId)">
               <ion-icon name="trash-outline"></ion-icon>
             </ion-fab-button>
           </ion-fab-list>
         </ion-fab>
       </div>
     </span>
   </ion-item>
 </ion-list> -->
