<ion-header>
  <ion-toolbar>
    <ion-title>Update Store</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </ion-menu-button>
      <ion-back-button>
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
    <ion-card-content>
      <form [formGroup]="EditStoreForm" (ngSubmit)="EditStore(EditStoreForm)">

        <p style="color: red;">{{ErrorMessage}}</p>

        <ion-item>
          <ion-label position="floating">Store Name</ion-label>
          <ion-input type="text" formControlName="storeName"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Main Store Name</ion-label>
          <!-- <ion-select [(ngModel)] = "SelectedMainStore" [ngModelOptions]="{standalone: true}" [compareWith] = "compareWith" > -->
            <ion-select [(ngModel)] = "SelectedMainStore" [ngModelOptions]="{standalone: true}" >

            <ion-select-option *ngFor="let mainStore of MainStoreArray" [value]="mainStore.mainStoreId">
              {{mainStore.mainStoreName}}</ion-select-option>

          </ion-select>
          <!-- <ion-select [compareWith]="compareWith" value="{{MyDefaultYearIdValue}}" >
            <ion-select-option *ngFor="let year of years" value="{{year.id}}">{{year.name}}
            </ion-select-option>
          </ion-select> -->
        </ion-item>

        <!-- <ion-item>
          <ion-label position="stacked">Main Store Name</ion-label>
          <ion-input type="text" readonly> {{CurrentMainStore.mainStoreName}} </ion-input>
        </ion-item> -->

        <ion-item>
          <ion-label position="floating">Store Location</ion-label>
          <ion-textarea formControlName="storeLocation"></ion-textarea>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Store </ion-label>
          <ion-input type="number" formControlName="storeRating"></ion-input>
        </ion-item>

        <br />
        <ion-button color="primary" type="submit">
          Submit
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>

</ion-content>