<ion-header>
  <ion-toolbar>
    <ion-title>{{Name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="Space" *ngIf="Mode == 'MainStore'">
    <ion-card>
      <ion-card-header class="CenterText">
        <ion-card-title>Details</ion-card-title>
        <hr />
      </ion-card-header>

      <ion-card-content>
        <ion-label> Main Store Name </ion-label>
        <ion-item> {{(ActiveMainStore$ | async).mainStoreName}} </ion-item>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="Mode == 'Store'">
    <ion-card>
      <ion-card-header class="CenterText">
        <ion-card-title>Details</ion-card-title>
        <hr />
      </ion-card-header>

      <ion-card-content>
        <ion-label> Store Name </ion-label>
        <ion-item> {{(ActiveStore$ | async).storeName}} </ion-item>

        <ion-label> Store Location </ion-label>
        <ion-item> {{(ActiveStore$ | async).storeLocation}} </ion-item>

        <ion-label> Store Rating </ion-label>
        <ion-item> {{(ActiveStore$ | async).storeRating}} </ion-item>

        <ion-label> Main Store </ion-label>
        <ion-item> {{MainStoreName}} </ion-item>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="Mode == 'ShoppingList'">
    <ion-card>
      <ion-card-header class="CenterText">
        <ion-card-title>Details</ion-card-title>
        <hr />
      </ion-card-header>

      <ion-card-content>
        <ion-label> Shopping List Name </ion-label>
        <ion-item>
          {{(ActiveShoppingList$ | async).shoppingListName}}
        </ion-item>

        <ion-label> Creation Date </ion-label>
        <ion-item> {{(ActiveShoppingList$ | async).creationDate}} </ion-item>

        <ion-label> Store Name </ion-label>
        <ion-item>
          {{(ActiveMainStore$ | async).mainStoreName}} {{(ActiveStore$ |
          async).storeName}}
        </ion-item>
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="Mode == 'CreateCategory'">
    <ion-card>
      <ion-card-content>
        <form
          [formGroup]="CreateCategoryForm"
          (ngSubmit)="CreateCategory(CreateCategoryForm)"
        >
          <p style="color: red;">{{ErrorMessage}}</p>

          <ion-item>
            <ion-label position="floating">Category Name</ion-label>
            <ion-input type="text" formControlName="categoryName"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Category Description</ion-label>
            <ion-textarea
              style="height: fit-content;"
              formControlName="categoryDescription"
            ></ion-textarea>
          </ion-item>
          <br />
          <ion-button
            color="primary"
            type="submit"
            [disabled]="!CreateCategoryForm.valid"
          >
            Submit
          </ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>

  <div class="Space" *ngIf="Mode == 'Product'">
    <ion-card>
      <ion-card-header class="CenterText">
        <ion-card-title>Details</ion-card-title>
        <hr />
      </ion-card-header>

      <ion-card-content>
        <ion-label> Product Name </ion-label>
        <ion-item> {{(ActiveProduct$ | async).productName}} </ion-item>
        <ion-label> Product Price </ion-label>
        <ion-item>R {{(ActiveProduct$ | async).currentPrice}} </ion-item>
        <ion-label> Category </ion-label>
        <ion-item>R {{(ActiveCategory$ | async).categoryName}} </ion-item>
        <ion-label> Product Price </ion-label>
        <ion-item>R {{(ActiveProduct$ | async).currentPrice}} </ion-item>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
